<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!searchBar">{{ title | translate }}</ion-title>
    <!--<img src="../../assets/images/logo.png" class="title-image center" *ngIf="!searchBar">-->
    <ion-buttons end>
      <button ion-button (click)="searchBar = true" *ngIf="!searchBar" large>
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button (click)="query()" *ngIf="searchBar" large>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <button ion-button *ngIf="!searchBar">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar *ngIf="searchBar" (ionClear)="searchBar = false" [(ngModel)]="search"></ion-searchbar>
  </ion-navbar>
</ion-header>
